
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Uriel Loza</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .navbar {
      background-color: #111827;
    }

    .brand-name {
      font-weight: 600;
      letter-spacing: 0.5px;
    }

    .nav-link {
      color: #d1d5db;
      font-weight: 500;
      transition: 0.3s;
    }

    .nav-link:hover {
      color: #3C1847;
    }

    .nav-link.active {
      color: #3C1847;
    }

    .skill-logo{
      width: 80px;
      height: 80px;
      object-fit: contain;
    }
    .backcolorleft {
      background-color: #1C0026;
    }

  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark px-4 py-3">
    <div class="container">

      <a class="navbar-brand d-flex align-items-center gap-2">
        <img src="static/uriel_pic.png" alt="Profile image" width="36" height="36" class="rounded-circle">
        <span class="brand-name">Uriel Loza</span>
      </a>

      <ul class="navbar-nav ms-auto gap-3">
        <li class="nav-item">
          <a href="#index" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a href="#projects" class="nav-link">Projects</a>
        </li>
        <li class="nav-item">
          <a href="#skills" class="nav-link">Skills</a>
        </li>
        <li class="nav-item">
          <a href="#about me" class="nav-link">About Me</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Contact</a>
        </li>
      </ul>

    </div>
  </nav>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
