{% include 'header.html' %}
<body>
<div class="container col-xxl-8 px-4 py-5 "id="home">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6"> <img src="static/python_drawing.png" class="d-block mx-lg-auto img-fluid"
                alt="Bootstrap Themes" width="700" height="500" loading="lazy"> </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"><strong>Python & Web Developer</strong><br></h1>
            <p class="lead">Building web applications with Python,Flask, SQL and modern web technologies.</p>
        </div>
    </div>
</div>
<br>
<div class="d-flex align-items-center justify-content-center my-5">
    <hr class="w-25">
    <i class="bi bi-code-slash mx-3"></i>
    <hr class="w-25">
</div>
{% include 'projects.html' %}
{% include 'skills.html' %}
{% include 'about_me.html' %}
</body>
{% include 'footer.html' %}